<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Music_Player</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/footer_style.css">
    <link rel="stylesheet" href="../static/css/header_style.css">
    <link rel="stylesheet" href="../static/css/music_player_style.css">
    <script src="https://unpkg.com/wavesurfer.js"></script>
</head>
<body>
   <header>
        <a class="logo" href="/"><img src="/media/pictures/VibeHub_Logo.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li><a href = "https://www.google.com">Home</a></li>
                <li><a href = "https://telex.hu/">News</a></li>
                <li><a href = "https://codecool.com/hu/rolunk-kapcsolat/">About</a></li>
            </ul>
        </nav>
        <a class="cta" href = "https://codecool.com/hu/kapcsolat/">Contact</a>
        <p class="menu cta">Menu</p>
    </header>
   <script type="text/javascript" src="/static/js/mobile.js"></script>
    <div class="hero">
        <div class="links">
            <a href="#"><img src="/media/pictures/backward.png"></a>
        </div>
        <div class="music">
            <img src="../media/pictures/jinx_left_half.jpg">
            <div class="info">
                <h2>ARCANE: Goodbye | CINEMATIC COVER (Feat. Aloma Steele)</h2>
                <p>Ramsey & Arcane (Alexander Seaver). <br> Cover Produced by Samuel Kim & Trevor Hoffmann (Feat. @Aloma Steele )</p>
<!--                <audio controls>-->
<!--                    <source src="media/ARCANE%20-%20Goodbye%20_%20CINEMATIC%20COVER%20(Feat.%20Aloma%20Steele).mp3" type="audio/mp3">-->
<!--                </audio>-->
                <div id="waveform"></div>
                <div class="controls">
                    <img src="../media/pictures/play.png" id="playBtn">
                    <img src="../media/pictures/stop.png" id="stopBtn">
                    <img src="../media/pictures/volume.png" id="volumeBtn">
                    <a style="background:none" href="#"><img src="/media/pictures/undo.png"></a>
                </div>
            </div>
        </div>
        <div class="links">
            <a href="#"><img src="/media/pictures/forward.png"></a>
        </div>
    </div>
    <div id="footer">
        <footer>
            <p>.</p>
        </footer>
    </div>


    <script>
        var playBtn = document.getElementById("playBtn");
        var stopBtn = document.getElementById("stopBtn");
        var volumeBtn = document.getElementById("volumeBtn");

        var wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: 'violet',
            progressColor: 'darkblue',
            CursorColor: 'purple',
            zoom: 5,
            barWidth: 4,
            height: 100,
            responsive: true,
            hideScrollbar: true,
            barRadius: 4
        });

        wavesurfer.load("../../media/music/Arcane-Goodbye_Cover.mp3")

        playBtn.onclick = function(){
            wavesurfer.playPause();
            if(playBtn.src.includes("play.png")){
                playBtn.src = "../../media/pictures/pause.png";
            }else{
                playBtn.src = "../../media/pictures/play.png";
            }
        }
        stopBtn.onclick = function(){
            wavesurfer.stop();
            playBtn.src = "../../media/pictures/play.png";
        }
        volumeBtn.onclick = function(){
            wavesurfer.toggleMute();
            if(volumeBtn.src.includes("volume.png")){
                volumeBtn.src = "../../media/pictures/mute.png";
            }else{
                volumeBtn.src = "../../media/pictures/volume.png";
            }
        }
        wavesurfer.on('finish', function()  {
            wavesurfer.params.container.style.opacity = 0.9;
            playBtn.src = "../../media/pictures/play.png";
            wavesurfer.stop();
        });


    </script>

</body>
</html>